[submodule "Saddle/vendor/stb_image"]
	path = Saddle/vendor/stb_image
	url = https://github.com/Jernesstar/stb_image
[submodule "Saddle/vendor/freetype"]
	path = Saddle/vendor/freetype
	url = https://github.com/Jernesstar/freetype
[submodule "Saddle/vendor/glm"]
	path = Saddle/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Saddle/vendor/glfw"]
	path = Saddle/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Saddle/vendor/glad"]
	path = Saddle/vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "Saddle/vendor/imgui"]
	path = Saddle/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Saddle/vendor/assimp"]
	path = Saddle/vendor/assimp
	url = https://github.com/assimp/assimp.git
