[submodule "Saddle/vendor/glm"]
	path = Saddle/vendor/glm
	url = https://github.com/Jernesstar/glm
[submodule "Saddle/vendor/glfw"]
	path = Saddle/vendor/glfw
	url = https://github.com/Jernesstar/glfw
[submodule "Saddle/vendor/glad"]
	path = Saddle/vendor/glad
	url = https://github.com/Jernesstar/glad
	branch = c
