# VS and VS Code configuration
.vscode/
.vs/
**.sln
**.vcxproj*

# Exes and intermediates
/bin/
/obj/

# Submodules
/Saddle/vendor/glad
/Saddle/vendor/glfw
/Saddle/vendor/glm
/Saddle/vendor/stb_image

# GNU Makefiles
Makefile
